*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 93.75rem) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 78.125rem) {
    html {
      font-size: 48%; } }
  @media only screen and (max-width: 68.75rem) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 60rem) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 54rem) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 49.129rem) {
    html {
      font-size: 45%; } }

body {
  background-color: white;
  position: relative;
  font-family: "TT Hoves", sans-serif; }

.section-1 {
  width: 100%; }

.section-2 {
  padding: 5rem 11.5rem;
  width: 100%; }
  @media only screen and (max-width: 31.25rem) {
    .section-2 {
      padding: 3rem; } }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.mb-hg-2 {
  margin-bottom: 12rem; }

.mr-sm {
  margin-right: 1rem; }

.mr-md {
  margin-right: 2rem; }

.mr-lg {
  margin-right: 6rem; }

.ml-md {
  margin-left: 2rem; }

.ml-lg {
  margin-left: 5rem; }

.ml-lg {
  margin-left: 5rem; }

.primery__btn {
  border: none;
  padding: 1.6rem 7.2rem;
  border-radius: 100px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(255, 103, 83, 0.4);
  transition: all .3s;
  background-image: linear-gradient(to right, #FF6753, #FF8F50);
  color: #fff; }
  @media only screen and (max-width: 31.25rem) {
    .primery__btn {
      font-size: 2.5rem !important; } }
  .primery__btn:active {
    transform: translateY(0.5rem); }
  .primery__btn:hover {
    background-image: linear-gradient(to right, #FF8F50, #FF6753); }

.secondary__btn {
  border: 1px solid #fff;
  padding: 1.5rem 3rem;
  width: 20.1rem;
  border-radius: 100px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  background: transparent;
  transition: all .3s;
  cursor: pointer;
  color: #fff; }
  @media only screen and (max-width: 31.25rem) {
    .secondary__btn {
      font-size: 2.5rem !important; } }
  .secondary__btn:hover {
    background-image: linear-gradient(to right, #FF6753, #FF8F50);
    box-shadow: 0 1rem 2rem rgba(255, 103, 83, 0.4);
    border: 1px solid transparent; }
  .secondary__btn:active {
    transform: translateY(0.5rem); }

.footer {
  text-align: center;
  font-size: 1.6rem;
  background-color: #000000;
  color: #ffffff; }

/**************Hero***************/
.hero {
  padding: 5rem 0;
  height: 100%;
  width: 100%;
  display: flex; }
  @media only screen and (max-width: 40.62rem) {
    .hero {
      flex: 0 0 100%;
      height: 100%;
      background-image: url(../images/hero-home.jpg);
      background-size: cover;
      background-repeat: no-repeat; } }

.hero-text {
  height: 100%;
  width: 100%; }
  @media only screen and (max-width: 40.62rem) {
    .hero-text {
      flex: 0 0 100%; } }

.hero-pic {
  flex: 0 0 30%;
  width: 100%; }
  @media only screen and (max-width: 40.62rem) {
    .hero-pic {
      display: none; } }

.hero-img {
  height: 100%;
  width: 100%; }

/* .hero-pic{
        position:absolute;
        top: 0;
        right: 0;
        height: 90%;
        width:auto;
      background-color: #ffffff;
      }  */
.heading-2 {
  font-size: 4.2rem;
  margin-top: 20rem;
  margin-left: 10rem;
  color: #D60265; }
  @media only screen and (max-width: 40.62rem) {
    .heading-2 {
      color: #000000;
      margin-left: 3rem; } }

.heading-3 {
  position: relative;
  font-size: 4.2rem;
  margin-top: 5rem;
  margin-left: 10rem;
  z-index: 100;
  margin-bottom: 12rem; }
  @media only screen and (max-width: 40.62rem) {
    .heading-3 {
      margin-left: 3rem; } }

.lahore {
  color: #D60265;
  font-size: 5rem; }
  @media only screen and (max-width: 40.62rem) {
    .lahore {
      color: #000000;
      font-size: 6rem; } }

.logo_img {
  width: 15.96rem;
  height: 3.6rem; }
  @media only screen and (max-width: 31.25rem) {
    .logo_img {
      width: 22.98rem;
      height: 5.18rem; } }

.cart-img {
  width: 3.8rem;
  height: 4rem; }
  @media only screen and (max-width: 31.25rem) {
    .cart-img {
      width: 4.8rem;
      height: 5rem; } }

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 5rem;
  width: 100vw;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 10000; }
  @media only screen and (max-width: 31.25rem) {
    .navbar {
      padding: 2rem 2rem; } }

.navbar-2 {
  position: relative;
  display: flex;
  justify-content: center; }
  .navbar-2__count {
    position: absolute;
    top: 50% !important;
    font-size: 1.6rem;
    color: #ffffff;
    padding: .4rem .8rem;
    background-color: #D60265;
    border-radius: 40%;
    transition: all .3s; }
    @media only screen and (max-width: 31.25rem) {
      .navbar-2__count {
        padding: .4rem .8rem;
        top: 60% !important; } }
  .navbar-2:hover {
    transform: scale(1.2); }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 5rem 2rem; }
  @media only screen and (max-width: 31.25rem) {
    .cards {
      flex-direction: column;
      align-items: center;
      font-size: 3rem; } }

.popular {
  display: flex;
  font-size: 2.5rem;
  margin-left: 7rem; }
  .popular--main {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .popular__img {
    margin-right: 1rem;
    height: 4rem;
    width: 4rem; }
  .popular--mostorder {
    font-size: 2rem;
    margin-left: 7.5rem;
    font-weight: 300; }

.card {
  flex: 0  0 30%;
  /* border: 1px solid #D60265; */
  background-color: #ffffff;
  border-radius: 10px;
  margin: 1rem  1rem;
  overflow: hidden;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 54rem) {
    .card {
      flex: 0  0 45%; } }
  @media only screen and (max-width: 31.25rem) {
    .card {
      flex: 0  0 90%;
      height: 100%;
      width: 100%; } }
  .card-data {
    height: 100%;
    width: 100%; }

.card-main {
  display: flex;
  justify-content: center;
  width: 100%;
  width: 100%; }

.card-pic {
  height: 100%;
  width: 100%; }

.card-img {
  display: flex;
  width: 50%;
  flex: 0 0 45%; }

.card-details {
  padding: .5rem  1rem;
  flex: 0 0 55%;
  display: flex;
  flex-direction: column; }

.card-header {
  font-size: 3rem;
  font-family: 'Itim', cursive;
  color: #D60265;
  margin-bottom: 1rem; }

.card-text {
  font-size: 1.6rem; }

.card-price {
  font-size: 2rem;
  flex: 0 0 60%; }

.price-span {
  font-family: 'Itim', cursive;
  height: 100%;
  width: 100%;
  font-size: 4.5rem; }

.card-btn {
  height: 4rem;
  width: 4rem;
  border-radius: 10px;
  transition: all .3s; }
  .card-btn--1 {
    height: 2.5rem;
    width: 2.5rem; }
    .card-btn--1:active {
      transform: scale(1); }
    .card-btn--1:hover {
      transform: scale(1.05); }
  .card-btn:hover {
    transform: scale(1.05); }
  .card-btn:active {
    transform: translateY(0.5rem); }

.card-price-button {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end; }

.card-plus {
  font-size: 2.5rem;
  color: #ffffff; }

.card-btn {
  background-color: #D60265;
  border: none; }

.card-button-set {
  flex: 0 0 40%;
  display: flex;
  justify-content: flex-end; }

.carts {
  margin: 6rem 6rem; }
  @media only screen and (max-width: 31.25rem) {
    .carts {
      margin: 3rem 2rem; } }
  .carts--main {
    display: flex;
    align-items: center; }
    .carts--main__head {
      padding: 2rem 0;
      font-size: 4rem; }
    .carts--main__img {
      height: 4.5rem;
      width: 4.5rem; }

.cart {
  font-size: 2rem;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 31.25rem) {
    .cart {
      flex-direction: column; } }
  .cart__details {
    flex: 0 0 70%;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
    height: 50rem;
    overflow-y: scroll;
    width: 100%; }
    @media only screen and (max-width: 31.25rem) {
      .cart__details {
        height: 50rem;
        flex: 0 0 100%;
        width: 100%; } }
    .cart__details--list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      font-size: 2rem; }
    .cart__details--info {
      position: relative; }
  .cart--main {
    display: flex;
    align-items: center;
    margin-top: .8rem; }
    .cart--main__ImgDesc {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 0 0 40%; }
    .cart--main__other {
      display: flex;
      flex-direction: row;
      flex: 0 0 60%; }
    .cart--main__img {
      flex: 0 0 40%; }
      .cart--main__img--pic {
        width: 90%;
        height: 90%; }
    .cart--main__desc {
      flex: 0 0 60%;
      display: flex;
      flex-direction: column; }
      .cart--main__desc--header {
        font-size: 2.5rem;
        font-weight: 500; }
        @media only screen and (max-width: 31.25rem) {
          .cart--main__desc--header {
            font-size: 2rem;
            font-weight: 400; } }
      .cart--main__desc--text {
        display: none; }
        @media only screen and (max-width: 31.25rem) {
          .cart--main__desc--text {
            display: none; } }
    .cart--main__quantity {
      flex: 0 0 40%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .cart--main__quantity--input {
        width: 5rem;
        height: 3rem;
        border: 1px solid #ccc;
        text-align: center; }
      .cart--main__quantity--btn {
        height: 3rem;
        width: 3rem;
        background-color: #D60265;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center; }
        .cart--main__quantity--btn--span {
          font-size: 3rem;
          color: white; }
    .cart--main__price {
      display: flex;
      justify-content: center;
      flex: 0 0 20%; }
    .cart--main__remove {
      display: flex;
      width: 100%;
      justify-content: center;
      flex: 0 0 20%; }
      .cart--main__remove--1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: white;
        background-color: red;
        height: 100%;
        width: 40%;
        border: none;
        border-radius: 2px; }
    .cart--main__totalprice {
      display: flex;
      justify-content: center;
      flex: 0 0 20%; }
  .cart--main1 {
    display: flex;
    top: 0;
    align-items: center;
    width: 100%;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    padding: 1rem 0; }
    .cart--main1__other {
      flex: 0 0 60%;
      display: flex; }
    .cart--main1__desc1 {
      flex: 0 0 40%;
      display: flex;
      align-items: center; }
    .cart--main1__quantity1 {
      flex: 0 0 40%;
      display: flex;
      justify-content: center; }
    .cart--main1__price1 {
      display: flex;
      justify-content: center;
      flex: 0 0 20%; }
    .cart--main1__remove1 {
      display: flex;
      justify-content: center;
      flex: 0 0 20%; }
    .cart--main1__totalprice1 {
      display: flex;
      justify-content: center;
      flex: 0 0 20%; }

.checks {
  margin: 0 1rem;
  flex: 0 0 30%;
  background-color: #D60265;
  color: white;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 31.25rem) {
    .checks {
      margin: 0;
      background-color: #D60265;
      color: white; } }

.check {
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .check--total {
    font-size: 3rem;
    font-weight: 700;
    flex: 0 0 98%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row; }
    .check--total--left {
      flex: 0 0 50%; }
    .check--total--right {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 50%; }
  .check--discount {
    flex: 0 0 98%;
    display: flex;
    flex-direction: row; }
    .check--discount--left {
      flex: 0 0 50%; }
    .check--discount--right {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 50%; }
  .check--gst {
    flex: 0 0 98%;
    display: flex;
    flex-direction: row; }
    .check--gst--left {
      flex: 0 0 50%; }
    .check--gst--right {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 50%; }
  .check--delivery {
    flex: 0 0 98%;
    display: flex;
    flex-direction: row; }
    .check--delivery--left {
      flex: 0 0 50%; }
    .check--delivery--right {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 50%; }
  .check--subtotal {
    flex: 0 0 98%;
    display: flex;
    flex-direction: row; }
    .check--subtotal--left {
      flex: 0 0 50%; }
    .check--subtotal--right {
      display: flex;
      justify-content: flex-end;
      flex: 0 0 50%; }
  .check--btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    overflow: hidden; }
    .check--btn__1 {
      height: 5rem;
      width: 80%;
      font-size: 2.5rem;
      font-weight: 700; }
      .check--btn__1--span {
        margin-left: 50%; }

#card {
  position: relative;
  width: 320px;
  display: block;
  margin: 40px auto;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif; }

#checkmark {
  font-weight: lighter;
  fill: #fff;
  margin: -3.5em auto auto 20px; }

#status {
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1em;
  margin-top: -.2em;
  margin-bottom: 0; }

#lower-side {
  padding: 2em 2em 5em 2em;
  background: #fff;
  display: block;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px; }

#message {
  margin-top: -.5em;
  color: #757575;
  letter-spacing: 1px; }

#contBtn {
  position: relative;
  top: 1.5em;
  border: none;
  text-decoration: none;
  background: #8bc34a;
  color: #fff;
  margin: auto;
  padding: .8em 3em;
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
  border-radius: 25px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

#contBtn:hover {
  -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

.hidden {
  display: none; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 1000; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 500; }

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none; }
