.carts{
    margin: 6rem 6rem;

 

    @media only screen and (max-width:$bp-smallest){
        margin: 3rem 2rem;
    }
    &--main{
        display: flex;
        align-items: center;
        &__head{
            padding: 2rem 0;
            font-size: 4rem;
    
        }
        &__img{
            height: 4.5rem;
            width: 4.5rem;
        }
    }
    
}
.cart{
  font-size: 2rem;
display: flex;
width: 100%;

@media only screen and (max-width:$bp-smallest){
   flex-direction: column;
}

    &__details{
flex: 0 0 70%;
box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.20);
height: 50rem;

overflow-y: scroll;
width: 100%;
@media only screen and (max-width:$bp-smallest){
    height: 50rem;
    flex: 0 0 100%;
    width: 100%;

}
&--list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-size: 2rem;
}
&--info{
  
    position: relative;
}
    }
&--main{
    display: flex;
    align-items: center;
margin-top: .8rem;

&__ImgDesc{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
}
&__other{
    display: flex;
    flex-direction: row;
    flex: 0 0 60%;
}

    &__img{
        flex: 0 0 40%;
        &--pic{
           width: 90%;
           height:90%;

        }
       

    }
    &__desc{
        flex: 0 0 60%;
        display: flex;
        flex-direction: column;
        
        &--header{
            font-size: 2.5rem;
            font-weight: 500;
            @media only screen and (max-width:$bp-smallest){

                font-size: 2rem;
                font-weight: 400;
             
             }
        }
        &--text{
            display: none;
            @media only screen and (max-width:$bp-smallest){
               display: none;
            
            }
        }

    }
    &__quantity{
        flex: 0 0 40%;
        display: flex;
        flex-direction: row;
       justify-content: center;
        align-items: center;
        &--input{
            width: 5rem;
            height: 3rem;
            border: 1px solid #ccc;
            // border-radius: 5px;
            text-align: center;
            // margin: 0 1rem;
        }
        &--btn{
            height: 3rem;
            width: 3rem;
            background-color: #D60265;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            &--span{
                font-size: 3rem;
                color: white;
            }
        }
    }
    &__price{
        display: flex;
        justify-content: center;

        flex: 0 0 20%;

    }
    &__remove{
        display: flex;
        width: 100%;
      
       
        justify-content: center;
        flex: 0 0 20%;
&--1{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    background-color: red;
    height: 100%;
    width: 40%;
    border: none;
    border-radius: 2px;
}
    }
    &__totalprice{
        display: flex;
        justify-content: center;
        flex: 0 0 20%;
    }
}



&--main1{
    display: flex;
   top: 0;
    align-items: center;

 
    width: 100%;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.20);
margin-bottom: 2rem;
padding: 1rem 0;

// @media only screen and (max-width:$bp-smallest){
//   flex-direction: column;
// }
&__other{
    flex: 0 0 60%;
    display: flex;
}
    &__desc1{
        flex: 0 0 40%;
        display: flex;
        align-items: center;
        &--header1{

        }
       
    }
    &__quantity1{
        flex: 0 0 40%;
      display: flex;
      justify-content: center;
      
        
    }
    &__price1{
        display: flex;
        justify-content: center;
        flex: 0 0 20%;

    }
    &__remove1{
        display: flex;
        justify-content: center;
        flex: 0 0 20%;

    }
    &__totalprice1{
        display: flex;
        justify-content: center;
        flex: 0 0 20%;
    }
}

}
.checks{
    margin: 0 1rem;
    flex: 0 0 30%;
    background-color: #D60265;
    color: white;
    box-shadow: 0 .1rem .5rem rgba(0, 0, 0, 0.20);
    @media only screen and (max-width:$bp-smallest){
        margin: 0 ;
        background-color: #D60265;
        color: white;
    }
}
.check{
    padding: 2rem 3rem;
    width: 100%;
display: flex;
flex-direction: column;


    &--total{
        font-size: 3rem;
        font-weight: 700;
        flex: 0 0 98%;
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        &--left{
            flex: 0 0 50%;
        }
        &--right{
            display: flex;
            justify-content: flex-end;
            flex: 0 0 50%;
        }
    }
    &--discount{
        flex: 0 0 98%;
        display: flex;
        flex-direction: row;
        &--left{
            flex: 0 0 50%;
        }
        &--right{
            display: flex;
            justify-content: flex-end;
            flex: 0 0 50%;
        }
    }
    &--gst{
        flex: 0 0 98%;
        display: flex;
        flex-direction: row;
        &--left{
            flex: 0 0 50%;
        }
        &--right{
            display: flex;
            justify-content: flex-end;
            flex: 0 0 50%;
        }
    }
    &--delivery{
        flex: 0 0 98%;
        display: flex;
        flex-direction: row;
        &--left{
            flex: 0 0 50%;
        }
        &--right{
            display: flex;
            justify-content: flex-end;
            flex: 0 0 50%;
        }
    }
    &--subtotal{
        flex: 0 0 98%;
        display: flex;
        flex-direction: row;
        &--left{
            flex: 0 0 50%;
        }
        &--right{
            display: flex;
            justify-content: flex-end;
            flex: 0 0 50%;
        }
    }

&--btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
 overflow: hidden;


    &__1{
       
        height: 5rem;
        width: 80%;
        font-size: 2.5rem;
        font-weight: 700;
        &--span{
          margin-left: 50%;
        }
    }
}

}




